* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

.about-me-container {
  margin: 10px;
  padding: 10px;
  display: flex;
  text-align: justify;
  text-decoration: #07135c;

  flex-direction: column;
  /* height: 85vh; */
}

.about-heading {
  text-shadow: 0 0 3px #0051ff;
  font-size: xx-large;
}
.about-my-photo {
  /* position: absolute; */
  border-radius: 20px;
  align-self: center;
  /* margin: 5px; */
  /* margin-top: 1.5rem; */
}
.about-me-par {
  /* position: relative; */

  /* margin-top: 5px !important; */
  margin: 7px;
  padding: 5px;
  text-align: justify;
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
}
