/* :root {
  height: 100vh;
} */

.container {
  background-color: aquamarine;
  display: flex;
  height: 85vh;
}

.contact-title {
  text-align: center;
  margin-top: 10px;
  font-size: xx-large;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.contact-items {
  margin-top: 100px;
  font-size: 1.7rem;
  text-decoration: solid;
  list-style-type: none; /* Remove bullets */
  
 

}

.contact-me {
  height: 55vh;
}

.about-me h2,
.work h2,
.contact-me h2 {
  font-size: 3rem;
  color: rgb(7, 19, 73);
}

.email {
  letter-spacing: normal;
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  forced-color-adjust: auto;
}

.contact-form-el {
  display: flex;
}

.form {
  margin: 10px;
  width: 100%;
}

.form input {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.contact-textarea {
  width: 100%;
  border: 0;
  background: #115173;
  height: 50px;
  font-size: 16px;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  min-height: 150px;
}

@media screen and (max-width: 900px) {
  .user-story-el {
    display: none;
  }

  .tech-ul {
    flex-direction: column;
    align-items: flex-start;
    color: #07135c;
    list-style-type: circle;
    padding-left: 30px;
  }
}

@media screen and (max-width: 800px) {
  

  .contact-items {
    margin-top: 30px;
    line-height: 3.2rem;
    letter-spacing: 0.1rem;
    flex-direction: column;
  }

 

}

/* .contact-li {
  list-style: none;
  margin-bottom: 10px;
  /* opacity: 0; */
/* overflow: hidden; 
  display: block;
  clear: both;
  position: relative;
}

.contact-half {
  clear: none;
  float: left;
  margin-left: 2%;
  width: 48%;
  list-style: none;
}
.contact-half:first-child {
  margin-left: 0;
}

.contact-input-email,
.contact-input-text {
  box-sizing: border-box;
  width: 100%;
  border: 0;
  background: #3c9dd1;
  height: 50px;
  font-size: 16px;
  color: #ffe;
  padding: 0 20px;
}

.contact-flat-button {
  color: #ffd700;
  font-size: 11px;
  letter-spacing: 3px;
  text-decoration: none;
  padding: 8px 10px;
  border: 1px solid #ffd700;
  float: left;
  border-radius: 4px;
  background: 0 0;
  text-transform: uppercase;
  float: right;
  text-align: center;
  margin-right: 10px;
}

.contact-textarea {
  width: 100%;
  border: 0;
  background: #115173;
  height: 50px;
  font-size: 16px;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  min-height: 150px;
} */

/* .contact-form {
  width: 100%;
  margin-top: 22px;
}

 */
