:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffcb03, #ffee03);
}

.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(127, 255, 138);
  /* height: 85vh; */
}

.projects-heading {
  margin-top: 10px;
  /* text-shadow: 2px 2px 4px blue; */
  /* text-shadow: 0 0 3px #ff0000; */
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
  font-stretch: expanded;
  font-weight: bolder;
  font-size: xx-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.project-cards {
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  margin: 7px;
}

.tech-btn {
  display: inline-block;
  background-color: var(--color-primary-darker);
  font-size: 1.9rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  padding: .7rem 1.5rem;
  border-radius: 10rem;
  transition: all 0.3s;
  color: black;
  margin: 6px 2px;
  /* padding: 15px 32px; */
  text-align: center;
}

.tech-btn:hover,
.tech-btn-showall:hover {
  /* background-color: var(--color-primary-darker); */
  color: white;
  background-color: #008cba;
  transition-duration: 0.4s;
  text-decoration: solid;
  /* font-weight: bolder; */
}

.tech-btn-showall {
  background-color: var(--color-primary-opacity);
  font-size: 2.5rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: .7rem 4.5rem;
  border-radius: 10rem;
  transition: all 0.3s;
  color: black;
  margin: 6px 2px;
  /* padding: 15px 32px; */
  text-align: center;
}

.card-link {
  color: #617177;
  font-weight: bolder;
  text-decoration: none;
  border-radius: 10rem;
  padding: .2rem 1.5rem;
  margin: 2px 2px;
}

@media screen and (max-width: 900px) {

  .tech-btn, .tech-btn-showall {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.15rem 1.5rem;
    /* border-radius: 10rem; */
  }
  
}